## Response mapping template for Subscription.onCreateRegion
## Enforces parent Transcription isPrivate authorization

#set($region = $context.source)
#if($util.isNull($region))
  $util.toJson(null)
#else
  ## Note: In a subscription, we need to fetch the parent transcription
  ## This is a simplified version - ideally would use pipeline resolver
  
  #set($userSub = $ctx.identity.claims.get("sub"))
  #set($userGroups = $ctx.identity.claims.get("cognito:groups"))
  
  ## Default to empty if null
  #if($util.isNull($userSub))
    #set($userSub = "")
  #end
  #if($util.isNull($userGroups))
    #set($userGroups = [])
  #end
  
  ## For now, just check if user is authenticated
  ## TODO: Add parent Transcription lookup and ACL checking
  #if($util.isNullOrEmpty($userSub))
    $util.unauthorized()
  #end
  
  $util.toJson($region)
#end 